@model System.Data.DataTable
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_MainPageLayout.cshtml";
}
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href=@Url.Action("Index","Home")><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href=@Url.Action("Index","Author")>Authors</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Edit</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Edit Issue -->
                <div class="card-header border-0">
                    <h3 class="mb-0" style="text-align:center; font-size: 24px;">Edit Author Details</h3>
                </div>
                <!-- Edit Issue -->
                <div class="formContainer">
                    @for (int i = 0; i < Model.Rows.Count; i++)
                    {
                        using(Html.BeginForm("Edit", "Author", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div>
                                <label for="authorName">Name</label>
                                <input type="text" id="authorName" name="authorName" value="@Model.Rows[i][1]"/>
                                <label for="decription">Description</label>
                                <input type="text" id="decription" name="decription" value="@Model.Rows[i][2]"/>
                                <label for="pass">Email</label>
                                <input type="email" id="email" name="email" value="@Model.Rows[i][3]"/>
                                <label for="phone">Phone</label>
                                <input type="text" id="phone" name="phone" value="@Model.Rows[i][8]"/>
                                <label for="pass">Facebook Link</label>
                                <input type="text" id="facebook" name="facebook" value="@Model.Rows[i][4]"/>
                                <label for="pass">Twitter</label>
                                <input type="text" id="twitter" name="twitter" value="@Model.Rows[i][5]"/>
                                <label for="pass">LinkedIn</label>
                                <input type="text" id="linkedIn" name="linkedIn" value="@Model.Rows[i][7]"/>
                                <label for="image">Image</label>
                                <input type="file" id="image" name="image" value="@Model.Rows[i][6]"/>
                            </div>
                            <input type="submit" value="Save" />
                        }
                    }
                    </div>

            </div>
        </div>
    </div>

